{% extends "templateL.html" %}

{% block content %}


                            <form class="custom-form booking-form text-center"  action="#" method="post" role="form">
                                <div class="text-center mb-4 pb-lg-2 " style="align-items: center;">
                                    <em class="text-white">Universidad Nacional de Loja</em>

                                    <h2 class="text-white">Lista de universidades</h2>
                                    <a href="/universidad" class="btn custom-btn custom-border-btn">Regresar</a>
                                    <a href="/universidad/grafo_universidad" class="btn custom-btn custom-border-btn">Negocio Grafo</a>
                                </div>
                                <!--<div id="map"></div>-->
                                <div class="booking-form-body">
                                        <div class="card" style="background-color: darkgray;">
                                            <div class="card-header">
                                                <h5 class="text-black">Agregar Adyacencias</h5>
                                                <form class="custom-form booking-form" method="post" action="/universidad/grafo_universidad/agregar_adyacencia" role="form">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-lg-6 col-12">
                                                                <span class="text-black">Origen</span>
                                                                <select class="form-control" id="origen" name="origen">
                                                                    {% for item in lista %}
                                                                        <option value="{{ item.id }}">{{ item.nombre }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="col-lg-6 col-12">
                                                                <span class="text-black">Destino</span>
                                                                <select class="form-control" id="destino" name="destino">
                                                                    {% for item in lista %}
                                                                        <option value="{{ item.id }}">{{ item.nombre }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button type="submit" id="guardar" class="btn custom-btn custom-border-btn text-black bg-white">Agregar</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <table class="table  table-bordered text-white table-responisive" id="tabla" >
                                        <thead>
                                            <tr>
                                                <th>-----------</th>
                                                {% for item in lista %}
                                                  <th>{{ item.nombre }}</th>

                                                
                                                {% endfor %}
                                            </tr>
                                        </thead>
                                        <tbody>


                                            {% for item in lista %}
                                            <tr class="text-black">
                                                <td><b>{{ item.nombre }}</b></td>
                                                {% for itemList in grafolista %}
                                                     {% if itemList.labelId == item.id %}
                                                        {% for universidad in lista %}
                                                           <td>
                                                             {% for destino in itemList.destinations %}
                                                                {% if destino.to == universidad.id %}
                                                                    {{ destino.weigth }}
                                                                {% endif %}
                                                             {% endfor %}
                                                             {% if item.id == universidad.id %}
                                                                     ---
                                                             {% endif %}
                                                           </td>
                                                     {% endfor %}
                                                {% endif %}    
                                            {% endfor %}    
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                       {% endblock %}
                    
                       


<script>
    $(document).ready(function() {
        function disableMatchingOptions(sourceId, targetId) {
             var sourceVal = $(sourceId).val();
                $(targetId + ' option').each(function() {
                    if ($(this).val() == sourceVal) {
                        $(this).attr('disabled', true);
                    } else {
                        $(this).removeAttr('disabled', false);
                    }
                });
        }

        $('#origen').change(function() {
            disableMatchingOptions('#origen', '#destino');
        });

        $('#destino').change(function() {
            disableMatchingOptions('#destino', '#origen');
        });

        disableMatchingOptions('#origen', '#destino');
        disableMatchingOptions('#destino', '#origen');
    });

    $('#guardar').click(function() {
        var destino = $('#destino').val();
        if (destino == null) {
            alert('El origen y el destino no pueden ser iguales');
            return false;
        }
    });
    /*var marker = L.marker([45565, -0.09]).addTo(map);
    marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();
    var marker2 = L.marker([51.5, -0.09]).addTo(map);
    marker2.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();*/
    
</script>

{% endblock %}