{% extends "templateL.html" %}

{% block content %}


                            <form class="custom-form booking-form text-center"  action="#" method="post" role="form">
                                <div class="text-center mb-4 pb-lg-2" style="justify-content: space-around;">
                                    <em class="text-white">Universidad Nacional de Loja</em>

                                    <h2 class="text-white" >Lista de Negocios</h2>
                                    <a href="/universidad/formulario" class="btn custom-btn custom-border-btn bg-white">Formulario</a>
                                    <a href="/universidad/grafo_universidad" class="btn custom-btn custom-border-btn bg-white">Negocio Grafo</a>
                                    <a href="/universidad/grafo_ver_admin" class="btn custom-btn custom-border-btn bg-white">Nogocio Grafo Ad</a>
                                </div>
                                <div id="map" style="width: 1000px; height: 500px;"></div>
                                <div class="booking-form-body table-responsive-lg">
                                    letras de color blanco
                                    <table class="table  table-bordered text-white" id="tabla">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Direccion</th>
                                                <th>Horario</th>
                                                <th>Longitud</th>
                                                <th>Latitud</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in lista %}
                                            <tr>
                                                <td>{{ item.nombre }}</td>
                                                <td>{{ item.direccion }}</td>
                                                <td>{{ item.horario }}</td>
                                                <td>{{ item.longitud }}</td>
                                                <td>{{ item.latitud }}</td>
                                                <!--<td>
                                                    <a href="negocio/editar/{{ item.id }}" class="btn custom-btn custom-border-btn ">Editar</a>
                                                </td>-->
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </form>



                            

<script>
    /*var marker = L.marker([45565, -0.09]).addTo(map);
    marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();
    var marker2 = L.marker([51.5, -0.09]).addTo(map);
    marker2.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();*/
    
</script>
<script src="{{ url_for('static', filename='d3/mapa.js') }}"></script>
{% endblock %}
