{% extends "templateL.html" %}

{% block content %}


                            <form class="custom-form booking-form text-center"  action="#" method="post" role="form">
                                <div class="text-center mb-4 pb-lg-2" style="justify-content: space-around;">
                                    <em class="text-white">Grafos</em>

                                    <h2 class="text-white" >Lista de Universidades</h2>
                                    <a href="/universidad/formulario" class="btn custom-btn custom-border-btn bg-white">Formulario</a>
                                    <a href="/universidad/grafo_universidad/0/0/1" class="btn custom-btn custom-border-btn bg-white">Universidad Grafo</a>
                                    <a href="/universidad/grafo_ver_admin" class="btn custom-btn custom-border-btn bg-white">Universidad  Ad</a>
                                </div>
                                <div class="booking-form-body table-responsive-lg">
                                    letras de color blanco
                                    <table class="table  table-bordered text-white" id="tabla">
                                        <thead>
                                            <tr>
                                                <th>Nro</th>
                                                <th>Estudiante</th>
                                                <th>Direccion</th>
                                                <th>Horario</th>
                                                <th>Longitud</th>
                                                <th>Latitud</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in lista %}
                                            <tr>
                                                <td>{{item.id}}</td>
                                                <td>{{ item.nombre }}</td>
                                                <td>{{ item.direccion }}</td>
                                                <td>{{ item.horario }}</td>
                                                <td>{{ item.longitud }}</td>
                                                <td>{{ item.latitud }}</td>
                                                <!--<td>
                                                    <a href="negocio/editar/{{ item.id }}" class="btn custom-btn custom-border-btn ">Editar</a>
                                                </td>-->
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </form>
{% endblock %}
